@use "../foundation/" as f;

.l-footer {
  padding: 6rem 3rem;
  background-color: f.$footer-bg;

  &__nav {
    /* PCでは2つのrowを横に並べて、結果として1行に見せる */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap;
    width: fit-content;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    gap: 2rem;
  }

  &__link {
    font-size: 1.2rem;
    color: f.$text-color-w;
    letter-spacing: 0.1em;
    transition: opacity 0.3s ease;
    @include f.hover {
      opacity: 0.7;
    }
  }

  &__copy {
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.05em;

    &-link {
      font-size: 1rem;
      color: f.$footer-copy;
      transition: opacity 0.3s ease;
      @include f.hover {
        opacity: 0.7;
      }
    }
  }

  @include f.mq(md) {
    &__nav {
      /* スマホではrowを縦に並べる */
      flex-direction: column;
      align-items: flex-start; // columnなので左揃えになる
    }

    &__row {
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}
