@use "../foundation/" as f;

.l-footer {
  padding: 6rem 0;
  background-color: f.$footer-bg;
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__link {
    margin-right: 2rem;
    color: f.$text-color-w;
    letter-spacing: 0.1em;
    @include f.mq(md) {
      margin-right: 1rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__copy {
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.05em;
    &-link {
      color: f.$footer-copy;
    }
  }
}
