.l-inner {
  max-width: 1110px;
  margin-inline: auto; // 中央寄せ
  padding-inline: 1.5rem; // スマホ時の最低余白（15px）

  @media (min-width: 1140px) {
    // 1110px + (15px * 2)
    padding-inline: 0; // 画面幅に十分な余裕があればpaddingを消す
  }
}

.l-inner--wide {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (min-width: 1330px) {
    padding-inline: 0;
  }
}

.l-inner--narrow {
  max-width: 750px;
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (min-width: 780px) {
    padding-inline: 0;
  }
}
