@use "../../foundation/" as f;
@use "sass:color"; // color.adjust()を使うのに必須

// ボタンデザイン

// 共通のスタイルをc-buttonに書いて、.c-button--primary、.c-button--secondaryなどで固有スタイルを書くとよい
.c-button {
  padding: f.sp(18) f.sp(72);
  color: f.$text-color-w;
  border: f.$text-color-w solid 1px;
  border-radius: 50px;
  position: relative;
  @include f.hover {
    &::after {
      right: 7%;
    }
  }
  &::after {
    content: "▶";
    font-size: 1rem;
    color: f.$text-color-w;
    position: absolute;
    top: 40%;
    right: 8%;
    transition: all 0.3s ease;
  }
}

.c-button--trans {
  background-color: transparent;
  transition: all 0.3s ease;
  @include f.hover {
    opacity: 0.7;
  }
}

// ==========================================
// PageTop button
// ==========================================
.c-pagetop {
  position: fixed;
  right: 45px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 100;
  @include f.mq(md) {
    right: 20px;
    bottom: 10px;
  }
  @include f.hover {
    transform: translateY(-4px);
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
  }

  &__arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #391e88;
  }
}
