@use "../../foundation/" as f;

.u-pc-only {
  display: block;
  @include f.mq(md) {
    display: none;
  }
}

.u-sp-only {
  display: none;
  @include f.mq(md) {
    display: block;
  }
}

.u-lg-only {
  display: none;
  @include f.mq(lg) {
    display: block;
  }
}
