// ==========================================
// typography utility
// ==========================================

// line-height の対応表
$line-heights: (
  11: 1.1,
  12: 1.2,
  15: 1.5,
  18: 1.8,
);

// letter-spacing の対応表
// ""をつけて文字列にしないと先頭の0が省略されてしまうので注意
$letter-spacings: (
  "05": 0.05em,
  "10": 0.1em,
  "20": 0.2em,
);
// line-height ユーティリティを自動生成
@each $name, $value in $line-heights {
  .u-lh-#{$name} {
    line-height: $value;
  }
}

// letter-spacing ユーティリティを自動生成
@each $name, $value in $letter-spacings {
  .u-ls-#{$name} {
    letter-spacing: $value;
  }
}
