@use "../../foundation/" as f;

.p-page-company {
  .p-hero {
    background: url(@/images/hero.jpg) no-repeat center/cover;
    padding: 8.8rem 0;
    color: f.$text-color-w;
    font-size: f.fs(36);

    &-heading__sub {
      color: f.$text-color-w;
    }
  }

  // ==========================================
  // company section
  // ==========================================
  .p-company {
    padding: 0 7rem 7rem;

    @include f.mq(md) {
      padding: 0 0 5rem;
    }

    &__inner {
      background:
        url(../../../images/bg-circle.png), url(../../../images/bg-face.png);
      background-repeat: no-repeat, no-repeat;
      background-position: center, center;
      background-size: contain, contain;
      padding: 10rem 0;
      @include f.mq(md) {
        background: url(../../../images/sp_bg-circle.png) no-repeat
          center/contain;
        padding: 6rem 0;
      }
    }

    &__heading {
      font-size: 3.2rem;
      color: f.$head-color;
      text-align: center;

      @include f.mq(md) {
        font-size: 2.4rem;
      }
    }

    &__lead {
      font-size: f.fs(40);
      margin-top: 3rem;
      color: f.$text-color-b;
      > span {
        background: linear-gradient(transparent 70%, #f5f534 70%);
      }
    }

    &__text {
      font-size: f.fs(15);
      color: f.$text-color-b;
      margin-top: 4rem;
    }

    &__ceo {
      display: flex;

      @include f.mq(md) {
        flex-direction: column;
      }
    }

    &__ceo-img {
      width: 40%;

      @include f.mq(md) {
        width: 100%;
      }
    }

    &__ceo-image {
      width: 100%;
    }

    &__ceo-text {
      width: 60%;
      padding-left: clamp(2rem, calc(7.14vw + -1.43rem), 5rem);

      @include f.mq(md) {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
      }
    }

    &__ceo-msg {
      font-size: 1.5rem;

      @include f.mq(md) {
        font-size: 1.4rem;
      }
      &:not(:first-child) {
        margin-top: 1em;
      }
    }

    &__ceo-name {
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 1em;

      @include f.mq(md) {
        font-size: 1.4rem;
      }
    }
  }

  // ==========================================
  // company-info section
  // ==========================================
  .p-company-info {
    // SPの上下左右の間隔調整
    padding: 7rem 7rem 14rem;
    @include f.mq(md) {
      padding: 5rem 0 4rem;
    }
    &__list {
      margin-top: 3rem;
      border-top: 1px solid #ddd;
      @include f.mq(md) {
        margin-top: 5rem;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 3rem 0;
      border-bottom: 1px solid #ddd;

      @include f.mq(md) {
        display: block;
        padding: 2rem 0;
      }
    }

    &__term {
      width: 20%;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;

      @include f.mq(md) {
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
    }

    &__description {
      flex: 1;
      min-width: 0;
      width: 80%;
      font-size: 1.5rem;
    }

    &__map-area {
      margin-top: 6rem;

      @include f.mq(md) {
        margin-top: 4rem;
      }
    }

    &__map {
      aspect-ratio: 1110 / 400;
      overflow: hidden;

      @include f.mq(md) {
        aspect-ratio: 345 / 220;
      }
    }

    &__map-frame {
      width: 100%;
      height: 100%;
      border: none;
      display: block;
    }

    &__map-link {
      display: inline-block;
      margin-top: 1rem;

      font-size: f.fs(14);

      transition: opacity 0.3s ease;

      @include f.hover {
        opacity: 0.7;
      }
    }
  }

  // ==========================================
  // CONTACT section
  // ==========================================
  .p-contact {
    padding: 7rem 0;
    background-color: #f0f0f0;

    &__text {
      margin-top: 3rem;
    }

    &__button {
      margin-top: 2rem;
    }
  }
}
