@use "../../foundation/" as f;

.p-page-home {
  .p-hero {
    padding: 32rem 0;
    background: url(../../../images/hero.jpg) no-repeat center/cover;
    @include f.mq(md) {
      padding: 28rem 0;
    }
    &__title {
      font-size: f.fs(72);
      color: f.$text-color-w;
      letter-spacing: 0.05em;
    }
    &__subtitle {
      font-size: f.fs(24);
      color: f.$text-color-w;
      font-weight: normal;
      margin-top: 2rem;
    }
    &__button {
      margin-top: 5rem;
      @include f.mq(md) {
        margin-top: 3rem;
      }
    }
  }
}
