@use "../../foundation/" as f;

.p-page-recruit {
  .p-hero {
    background: url(@/images/hero.jpg) no-repeat center/cover;
    padding: 8.8rem 0;
    color: f.$text-color-w;
    font-size: f.fs(36);

    &-heading__sub {
      color: f.$text-color-w;
    }
  }
  // ==========================================
  // RECRUIT section
  // ==========================================
  .p-recruit {
    padding: 9rem 0 11rem;
    background: url(@/images/bg-geometry.png) repeat;

    @include f.mq(md) {
      padding: 6rem 0 8rem;
    }

    &__head {
      margin: 0 auto;
    }

    &__title {
      font-size: 7.2rem;
      color: f.$head-color;

      @include f.mq(md) {
        font-size: 4.8rem;
      }
    }

    &-heading__sub {
      font-size: 3.2rem;
      font-weight: 400;
      margin-top: 1rem;

      @include f.mq(md) {
        font-size: 1.8rem;
      }
    }

    &__text {
      font-size: 1.6rem;
      margin-top: 2rem;

      @include f.mq(md) {
        font-size: 1.5rem;
        margin-top: 1.6rem;
      }
    }

    &__img-wrap {
      width: 100%;
      aspect-ratio: 16 / 8; // 画像読み込み前でも高さを安定させる
      overflow: hidden;
      clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
    }
  }

  // ==========================================
  // CONTACT section
  // ==========================================
  .p-contact {
    padding: 7rem 0;
    background-color: #f0f0f0;

    &__text {
      margin-top: 3rem;
    }

    &__button {
      margin-top: 2rem;
    }
  }
}
